# ビルド結果
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
*.log

# Visual Studio の作業フォルダ
.vs/
.vscode/

# ユーザー固有の設定ファイル
*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user

# デバッグ / シンボル関連
*.pdb
*.ilk
*.idb

# 実行ファイル
*.exe
*.dll
*.lib

# シェーダ関連
*.cso
*.hlsl.h
